<h1 class="text-center">New Song</h1>

<div class="row" style="margin-bottom: 20px;">
    <div class="col-md-8 col-md-offset-2">
        <%= render 'form', song: @song %>
    </div>
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <%= link_to 'Back', songs_path, class: 'btn btn-default' %>
    </div>
</div>

